# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project

# Coverage reports
coverage/

# Database files
*.sqlite
*.db

# Backup files
*.bak
